{{ define "test.tmpl" }}
<table border="5">
 <tr><td>报警项</td>
<td>主机名</td>
<td>报警阀值</td>
<td>开始时间</td>
 </tr>
 {{ range $i, $alert := .Alerts }}
<tr><td>{{ index $alert.Labels "alertname" }}</td>
<td>{{ index $alert.Labels "instance" }}</td>
<td>{{ index $alert.Annotations "value" }}</td>
<td>{{ $alert.StartsAt }}</td>
</tr>
 {{ end }}
</table>
{{ end }}
